body {
  margin:0;
  font-family: Arial, sans-serif;
  background:#f9f9f9;
  color:#333;
}

header {
  background:#fff;
  border-bottom:1px solid #ccc;
  padding:10px;
}

.logo {
  float:left;
  width:40px;
  height:40px;
  background:orange;
  color:#fff;
  font-weight:bold;
  text-align:center;
  line-height:40px;
  margin-right:10px;
}

header h1 {
  float:left;
  font-size:18px;
  margin:10px 0;
}

.search-box {
  float:right;
}

.search-box input {
  padding:5px;
}

.search-box button {
  padding:5px 10px;
  background:orange;
  color:#fff;
  border:none;
}

.hero {
  background:#fff;
  margin:10px;
  padding:10px;
}

.content {
  margin:10px;
}

.main {
  float:left;
  width:60%;
  height: 600px;
overflow-y: scroll;
}

aside {
  float:right;
  width:28%;
}

.card {
  background:#fff;
  margin-bottom:10px;
  padding:10px;
  border:1px solid #ddd;
}

.destacado {
background: #ebdd17;
background: linear-gradient(90deg,rgb(220, 162, 14) 0%, orange 50%, rgba(252, 176, 69, 1) 100%);
  margin-bottom:10px;
  padding:10px;
  border:3px solid #000000;
  border-radius: 20px;
  width: 240px;
  float: right;
  height: 300px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
   font-family: "Sofadi One", system-ui;
  font-style: normal;
  color: white;
  font-size: 20px;

}

.votes {
  float:right;
  color:orange;
  font-weight:bold;
}

footer {
  clear:both;
  background:orange;
  border-top:1px solid #ccc;
  text-align:center;
  padding:20px;
  margin-top:10px;
   font-family: "Sofadi One", system-ui;
  font-weight: 400;
  font-style: normal;
    font-size: 30px;
      color: white;

}
