body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  color: #333;
}

.header {
  background-color: #ef5801; /* naranja Menéame */
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  clear: both;
}

.header .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}

.header .left {
  float: left;
}

/* Imagen del logo */
.logo-img {
  float: left;
  height: 50px; /* igual que la altura del header */
  width: auto;
  margin-right: 10px;
  border-radius: 4px; /* opcional, mantiene estética del logo previo */
}

.header .edition {
  float: left;
  margin-left: 5px;
  font-weight: bold;
}

.header .right {
  float: right;
}

.header .right span,
.header .right a {
  margin-left: 15px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.header .right a:hover {
  text-decoration: underline;
}

.header .right .menu {
  font-size: 20px;
  vertical-align: middle;
}

header h1 {
  float: left;
  font-size: 18px;
  margin: 10px 0;
}

.search-box {
  float: right;
}

.search-box input {
  padding: 5px;
}

.search-box button {
  padding: 5px 10px;
  background: orange;
  color: #fff;
  border: none;
}

.hero {
  background: #fff;
  margin: 10px;
  padding: 10px;
}

.content {
  margin: 10px;
}

.main {
  float: left;
  width: 60%;
  height: 600px;
  overflow-y: scroll;
}

aside {
  float: right;
  width: 28%;
}

.card {
  background: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
    border: 2px solid #000000;
      border-radius: 20px;


}



.votes {
  float: right;
  color: orange;
  font-weight: bold;
}

.footer {
  background-color: #f5f5f5;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  border-top: 1px solid #ddd;
  clear: both;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}

.footer-left p,
.footer-right p {
  margin: 0 0 5px 0;
}

.footer a {
  color: #0073e6;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Sidebar estilo Menéame */
.sidebar {
  right: 0;
  top: 60px; /* debajo del header */
  width: 320px;
  background: #fff;
  border-left: 1px solid #ddd;
  padding: 15px;
  height: calc(100% - 60px);
  overflow-y: auto;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 50px;
  text-align: center;
}

.sidebar h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #f15a24;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
}

.sidebar ul li a:hover {
  color: #f15a24;
}
